/* how to break footer anchor stuff and bring it to next line part by part rather than a whole */

@font-face {
    font-family: "Waldenburg";
    src: url("fonts/waldenburg/Simvkmrwwcnkkicglbiiqcwpbmu/Simvkmrwwcnkkicglbiiqcwpbmu.woff2") format(woff2),
         url("fonts/waldenburg/Simvkmrwwcnkkicglbiiqcwpbmu/Simvkmrwwcnkkicglbiiqcwpbmu.woff2") format(woff);
    font-style:normal;
    font-display: swap;
}

body
{
    padding:0;
    margin:0;
}

[contenteditable] {
    outline:none
}

.hero-section
{
    height:90vh;
    display:flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

.sign-up
{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    border:1px solid rgb(228, 227, 227);
    width:340px;
    padding:10px;
    margin-bottom:20px;
    cursor: pointer;
    border-radius: 10px;
}

.sign-up:hover
{
    background-color: rgb(0 0 0 / 2%)
}

.border-line
{
    border-bottom:1px solid rgb(228, 227, 227);
    width:360px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.sign-up-button
{
    background-color: #A6A6AE;
    width:365px;
    display:flex;
    justify-content: center;
    align-items: center;
    height:45px;
    font-family: "Inter", sans-serif;
    border-radius:10px;
    color:white;
    font-size:14px;
    cursor: default
}

.already-registered
{
    display:flex;
    justify-content: center;
    padding-top:20px;
    font-family: "Inter", sans-serif;
    font-size:14px;
    color:#323235;
}

.sign-in-anchor
{ 
    /* text-decoration controls decorative lines applied to text */
    text-decoration: underline;  
    text-underline-offset: 2px;
    text-decoration-thickness: 1.5px;
    text-decoration-color: hsl(240 5.1% 84.7%);
    padding-left: 2px;
    color:#323235;
    font-weight: 500;
}

.input-stuff
{
    width:360px;
    height:85px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    color : #323235
}

.input-fields:focus-within
{
    border-color: black;
    border-width: 2px;
}

.input-fields
{
    background-color: white;
    width:100%;
    border:1px solid rgb(228, 227, 227);
    border-radius:10px;
    margin-top:3%;
    height:50%
}

.password-field
{
    display:flex;
    justify-content: center;
    align-items: center;
}

.email-field
{
    display: flex;
    align-items:center;
    justify-content:center;
}

.password-input-field
{
    width:310px;
    padding : 1px 15px;
}

.create-account
{
    font-family: "Waldenburg";
    font-size:1.5rem;
    padding-top:55px;
    padding-bottom: 40px;
}

.google-sign-up
{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 0.87rem;
    padding-left:80px
}

.password-eye
{
    width:20px;
    height:20px;
    padding: 12px
}

.input-stuff-field-name
{
    cursor:pointer;
}

.footer-container
{
    display:flex;
    align-items:center;
    justify-content: center;
    font-family: "Inter",sans-serif;
    font-size:14px;
    height:10vh;
    color:grey;
    background-color: rgb(245, 245, 245);
    font-weight:500;
    padding : 25px;
    box-sizing: border-box;
}
div.footer-container
{
    white-space: pre;
}

.footer-anchor
{
    text-decoration: underline;
    text-underline-offset: 2px;
    color:grey;
    text-decoration-thickness: 1.5px;
    text-decoration-color: hsl(240 5.1% 84.7%);
}

.eleven-labs-logo
{
    padding-top:60px
}

.type-email-field
{
    width: 330px;
    padding : 1px 15px;
}

.editable-stuff
{
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width: 767px) {
    .eleven-labs-logo
    {
        visibility: hidden;
    }
}

@media (max-width: 510px) {
    .hero-section
    {
        height : 87vh
    }
    .footer-container
    {
        display : inline-flex;
        flex-wrap : wrap;
        justify-content: flex-start;
        height : 13vh
    }
}

@media (max-width : 400px) {
    .sign-up
    {
        flex-shrink : 1;
        width : 85%
    }
    .border-line,.sign-up-button,.input-stuff
    {
        flex-shrink : 1;
        width : 90%;
    }
}